<h1>New Author</h1>
#<%= form_with scope: :author, local: true do |form| %>
#    <p>
#        <%= form.label 'First name' %><br>
#        <%= form.text_field 'First name' %>
#    </p>

#    <p>
#        <%= form.label 'Last name' %><br>
#        <%= form.text_field 'Last name' %>
#    </p>

#    <p>
#        <%= form.label :homepage %><br>
#        <%= form.text_field :homepage %>
#    </p>

#    <p>
#        <%= form.submit :Save %>
#    </p>
#<% end %>